<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.kubag5.cepnm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="CEPNM"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity android:name="pl.kubag5.cepnm.ui.PointDetailActivity" />
        <activity android:name="pl.kubag5.cepnm.ui.AddEditPointActivity" />
        <activity android:name="pl.kubag5.cepnm.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
